body{
    margin: 0;
    padding: 0; 
    background-color: red;
}

.main-container{
    background-color: rgb(67, 101, 175);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: white;
}